/* Medium: 768px - 991px */

@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .offer__title {
        width: 100%;
    }

    .menu__phone-number {
        display: none;
        /* Скрыть элемент на маленьких экранах */
    }

    .offer-wrapper {
        margin: 144px 0 70px;
    }

    .offer {
        margin: 0;
        margin-bottom: 168px;
        gap: 21px;
        width: 572px;
    }

    .offer__text {
        width: 340px;
    }

    .section__title {
        width: 100%;
    }

    .section__text {
        width: 561px;
    }


    .services__content-wrapper {
        margin: 100px 0;
    }

    .services__items {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 508px;
        margin: 78px 0;
        gap: 51px;
    }

    .projects__items {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 100px;
        gap: 30px;
    }

    .projects__about-us {
        width: 90%;
        padding: 52px 47px;
    }

    .video {
        padding: 218px 0 109px;
    }

    .video__wrapper {
        width: 720px;
    }

    .video-frame-wrapper {
        height: 369px;
    }

    .footer {
        padding-bottom: 106px;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__socials {
        margin-right: 100px;
    }

    .footer__subscribe {
        margin: 0;
        margin-top: 82px;
        width: 393px;
    }
}

/* Small: 576px - 767px */

@media screen and (max-width: 767px) {
    .container {
        max-width: 450px;
    }

    .menu {
        display: none;

    }

    .offer__text {
        width: calc(100% - 125px);
    }

    .menu__phone-number {
        display: block;
        /* вернуть элемент на маленьких экранах */
    }

    .offer {
        margin: 0;
        margin-bottom: 189px;
        gap: 20px;
        width: 100%;
    }

    .item__img {
        width: 185.61px;
    }

    .section__text {
        margin: 28px 0 0;
    }

    .projects {
        width: 100%;
    }

    .projects__items {
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 79px;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }


    .projects__about_us__numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .projects__about-us {
        padding: 52px 23px;
    }

    .projects__text-container {
        gap: 21px;
    }

    .projects__about-us-text {
        width: 100%;
    }

    .video__wrapper {
        width: 450px;
    }

    .video-frame-wrapper {
        height: 450px;
    }

    .video__title {
        width: 100%;
    }

    .video_text {
        width: 100%;
    }


    .footer {
        padding-bottom: 100px;
    }

    .footer__wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
    }

    .footer__socials {
        margin: 0;
    }

    .footer__subscribe {
        margin: 0;
        width: 386px;
    }

    .section__title {
        width: 100%;
    }

    .section__text {
        width: 100%;
    }

    .item__text {
        width: 239px;
    }

}