.footer {
    background: #F7F6F8;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: 1.4em;
    display: flex;
    padding-bottom: 100px;
}

.footer__wrapper {
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.footer__title {
    font-size: 19px;
    font-weight: 700;
}

.footer__items-wrapper {
    margin: 41px 0 37px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.footer__item {
    display: flex;
    gap: 17px;
}

.footer__item-img {
    width: 18px;
    height: 18px;
}

.footer__item-text {
    /* width: 225px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1.58em;
}

.footer__socials {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.footer__socials-wrapper {
    margin-top: 81px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__social {
    color: #36C3FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.58em;
}

.footer__social:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.footer__subscribe {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 386px;
}

.subscribe__form {
    position: relative;
    display: flex;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

.subscribe__input {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 340px;
    padding: 15px 0;
    padding-left: 33px;

}

.input {
    border: none;
    margin: initial;
    background: initial;
    color: initial;
    text-align: initial;
    text-transform: initial;
}

.subscribe__button {
    position: absolute;
    right: 0;
    border: none;
    width: 45px;
    height: 45px;
    text-decoration: none;
    padding: 12px 14px 13px 11px;
    border-radius: 100px;
    background: #36C3FF;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    cursor: pointer;
}

.subscribe__button:hover {
    opacity: 0.8;
    transform: scale(0.9);
}

.subscribe__button-img {
    width: 20px;
    height: 20px;
}

.footer__policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.58em;
}