.header {
    background: linear-gradient(58deg, rgba(54, 195, 255, 0.25) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header__bg3.jpg') no-repeat center top / cover;
    text-align: center;
    color: #fff;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    padding-bottom: 70px;
    /* animation: backgroundChange 15s linear infinite; */
}

/* @keyframes backgroundChange {
    0% {
        background: linear-gradient(58deg, rgba(54, 195, 255, 0.25) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header__bg.jpg') no-repeat center top / cover;
    }

    33% {
        background: linear-gradient(58deg, rgba(54, 195, 255, 0.25) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header__bg2.jpg') no-repeat center top / cover;
    }

    66% {
        background: linear-gradient(58deg, rgba(54, 195, 255, 0.25) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header__bg3.jpg') no-repeat center top / cover;
    }

    100% {
        background: linear-gradient(58deg, rgba(54, 195, 255, 0.25) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header__bg.jpg') no-repeat center top / cover;
    }
} */

.nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.58);
}

.menu {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.menu__list {
    display: flex;
}

.menu__item a {
    color: #fff;
    font-size: 16px;
    padding: 31px 24px;
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0)
}

.menu__item a:hover,
.menu__item_active a {
    border-bottom: 2px solid #FFFFFF;
}

.menu__phone-number {
    text-align: right;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
}