.projects {
    position: relative;
    background: #F7F6F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 109px 0 203px;
    color: #323232;
    font-style: normal;
    line-height: 1.4em;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.projects__items {
    display: flex;
    justify-content: space-between;
    margin: 78px 0 50px;
    padding-bottom: 89px;
    border-bottom: 1px solid #B8B8B8;
}

.projects__item {
    cursor: pointer;
    position: relative;
    width: 345px;
    height: 265px;
    border-radius: 15px;
    overflow: hidden;
}

.projects__img {
    width: inherit;
    height: inherit;
}

.projects__item:hover::before, .projects__item:hover::after{
    opacity: 1;
    transform: scale(1.2);
}

.projects__item:hover{
    transform: scale(1.05);
}

.projects__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%) no-repeat;
    transition: all 1.3s ease;
}

.projects__item::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    background: url(../img/search.svg);
}

.projects__about_us__numbers {
    display: flex;
    justify-content: space-between;
}

.projects__numbers {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100px;
    height: 67px;
    text-align: center;
}

.projects__numeric {
    font-size: 36px;
    font-weight: 700;
}

.projects__text {
    font-size: 16px;
    font-weight: 400;
}


.projects__about-us {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    left: 50%;
    display: flex;
    padding: 52px 22px;
    border-radius: 15px;
    background: rgba(54, 195, 255, 0.43);
}

.projects__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.projects__about-us-title {
    width: 100%;
    color: #323232;
    font-size: 19px;
    font-weight: 700;
}

.projects__about-us-text {
    width: 625px;
}