.video {
    margin-top: 149px;
    padding: 103px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: 1.4em;
    color: #000;
}

.video__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-bottom: 62px; */
    width: 830px;
    /* border-bottom: 1px solid #E0E0E0; */
}

.video__title {
    /* margin-top: 103px; */
    font-size: 36px;
    font-weight: 700;
}

.video_text {
    margin: 17px auto 78px;
    font-size: 16px;
    font-weight: 400;
    width: 561px;
}

.video-frame {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 62px;
    border-bottom: 1px solid #E0E0E0;
}