.video {
    padding: 254px 0 103px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    line-height: 1.4em;
    color: #000;
}

.video__container {
    margin: 0 auto;
    width: 830px;
    padding-bottom: 62px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_text {
    margin-bottom: 78px;
}

.video-frame-wrapper {
    box-sizing: content-box;
    overflow: hidden;
    width: 830px;
    height: 426px;
}

.video-frame {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}